@import "typography.css";

@import "SupportReviews.css";
body.mceContentBody {
  min-height: 200px;
  background-color: #fff !important;
  background: none !important;
  font-size: 62.5%;
}
body {
  background: transparent #fff !important;
  padding: 20px;
}
body.mceContentBody a.broken {
  background-color: #FF7B71;
  border: 1px red solid;
}
