<table border="0">
<thead>
<tr>
	<td colspan="3">
		<strong>Review Objectives</strong>: To assess the effects of policies regarding direct patient payments for drugs on drug use, health care utilisation,
		health outcomes and costs (expenditures).
	</td>
	
</tr>
<tr>
	<td colspan="3">
		<strong>Review Objectives</strong>: To assess the effects of policies regarding direct patient payments for drugs on drug use, health care utilisation,
		health outcomes and costs (expenditures).
	</td>
</tr>
<tr>
	<th><span class="hide">/</span></th> 
	<th><strong>What the review authors searched for</strong></th> 
	<th> <strong>What the review authors found</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Interventions</strong></td>
<td>Randomised and quasi-randomised controlled trials comparing different initial antibiotic regimens in neonates with suspected late onset sepsis, including:<br />
<ul>
<li>Beta-lactam antibiotics alone or in combination with aminoglycoside or glycopeptide </li>
<li>Aminoglycoside in combination with glycopeptide</li>
</ul>
</td>
<td>Two studies eligible for inclusion. One included study comparing betalactam monotherapy (Timentin) with beta-lactam plus aminoglycoside <br />combination therapy (Flucloxacilin and Gentamicin).</td>
</tr>
<tr>
<td><strong>Participants</strong></td>
<td>Newborn infants with suspected late onset sepsis, <br />with antibiotic treatment commenced after 48 hours <br />of ag</td>
<td>Both studies enrolled neonates with suspected late onset sepsis</td>
</tr>
<tr>
<td><strong>Settings</strong></td>
<td>In hospital settings globall</td>
<td>In hospital setting. The location of the trial was not stated in the Systematic review.</td>
</tr>
<tr>
<td><strong>Outcomes</strong></td>
<td><em><strong>Primary outcomes</strong></em>: Mortality prior to discharge from hospital, septic shock, neurodevelopmental outcome before 5 years of age. <br /><em><strong>Secondary outcomes</strong></em>: Complications of antibiotic treatment, complications of sepsis, treatment failure, subsequent fungal infection or infection with antibiotic resistant organisms, duration of ventilation and <br />hospitalization and cost analysis of treatment.</td>
<td><em><strong>Primary outcome</strong></em>: Mortality prior to discharge<br /><em><strong>Secondary outcomes</strong></em>: Treatment failure and antibiotic resistance.</td>
</tr>
<tr>
<td colspan="3"><strong>Date of most recent search</strong>: March 2005</td>
</tr>
<tr>
<td colspan="3"><strong>Limitations</strong>: This is a good quality systematic review with only minor limitation</td>
</tr>
</tbody>
</table>