<table border="0">
<thead>
<tr>
	<td colspan="3">
		<strong>Review objectives</strong>: [Insert text here].
	</td>
</tr>
<tr>
	<th><strong>Type of</strong></th> 
	<th><strong>What the review authors searched for</strong></th> 
	<th> <strong>What the review authors found</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Study designs & interventions </strong></td>
<td>[Insert text here]<br />
<!--ul>
<li>[Insert list element here] </li>
<li>[Insert list element here]</li>
</ul-->
</td>
<td>[Insert text here]</td>
</tr>
<tr>
<td><strong>Participants</strong></td>
<td>[Insert text here]</td>
<td>[Insert text here]</td>
</tr>
<tr>
<td><strong>Settings</strong></td>
<td>[Insert text here]</td>
<td>[Insert text here]</td>
</tr>
<tr>
<td><strong>Outcomes</strong></td>
<td>[Insert text here]</td>
<td>[Insert text here]</td>
</tr>
<tr>
<td colspan="3"><strong>Date of most recent search</strong>: [Insert text here]</td>
</tr>
<tr>
<td colspan="3"><strong>Limitations</strong>: [Insert text here]</td>
</tr>
</tbody>
</table>