<table border="0">
<tbody>
<tr>
<th></img>Findings</th> <th>Interpretation*</th>
</tr>
<tr>
<td class="subtitle" colspan="2">APPLICABILITY</td>
</tr>
<tr>
<td class="column1">Results came from only one study conducted back in 1988.&nbsp; Neonates with suspected or confirmed late onset sepsis were enrolled.</td>
<td class="column2">Factors that need to be considered to assess whether the intervention effects are likely to be transferable to other settings include: <br />
<ul>
<li>Organisms responsible of infection change between developed and developing countries as well as mortality associated with the disease.</li>
<li>Organisms have changed over time and since the study information became available.</li>
<li>The choice of the antibiotic therapy must be based on the prevalence of microorganisms in different neonatal care units and different settings</li>
</ul>
</td>
</tr>
<tr>
<td class="subtitle" colspan="2">EQUITY</td>
</tr>
<tr>
<td class="column1">Risk factors for late onset neonatal sepsis are not limited to intrinsic factors due to immature immune responses and barriers. Extrinsic factors such as medical treatments and devices, invasive procedures and prolonged hospital stay are crucial in the development of late onset neonatal infection</td>
<td  class="column2">Preventive strategies for sepsis addressing intrinsic and extrinsic risk factors could reduce the burden that imposes late onset neonatal sepsis in particular developing countries settings, were at least part of disease cases can be avoided.</td>
</tr>
<tr>
<td class="subtitle" colspan="2">ECONOMIC CONSIDERATIONS</td>
</tr>
<tr>
<td class="column1">No data on costs of the implementation of neither of the two antibiotic regimens was provided in the systematic review</td>
<td  class="column2">The ideal antibiotic regimen is likely to be the one that reduces complications and sequelae of sepsis, rates of treatment failure and antibiotic resistance with minimum adverse effects and risks.<br />There is no information that indicates superiority of any of the evaluated regimens for any of these outcomes.</td>
</tr>
<tr>
<td class="subtitle" colspan="2">MONITORING &amp; EVALUATION</td>
</tr>
<tr>
<td class="column1">Little evidence exist about effectiveness, short and long term security of therapy, bacteriological resistance rates and costs of different antibiotic regimens for the treatment of late onset neonatal sepsis.</td>
<td  class="column2">
<p>There is a need for more research in the evaluation of effectiveness of different antibiotic regimens in the treatment of late onset neonatal sepsis taken in count local characteristics of the population and microbiological surveillance.</p>
<p>Monitoring of microorganisms responsible for sepsis in different countries and settings is vital for the election of the right antibiotic therapy in specific neonatal populations.</p>
<p>Security of different antibiotic regimens most be carefully evaluated given that the therapy is often empiric and many neonates are nor actually infected.</p>
</td>
</tr>
<tr>
<td colspan="2">
<hr />
*Judgements made by the authors of this summary, not necessarily those of the review authors, based on the findings of the review and consultation with  researchers and policymakers in low and middle-income countries. For additional details about how these judgements were made see:  http://www.support-collaboration.org/summaries/methods.htm</td>
</tr>
</tbody>
</table>
<hr />
<p>&nbsp;</p>