<table border="0">
	<tbody>
		<tr>
			<td colspan="5">
				<h3>Beta-lactam antibiotics compared to Bata-lactam + Aminoglycoside for the treatment of suspected late onset sepsis in new born infants</h3>
			</td>
		</tr>
		<tr>
			<td colspan="5"><strong>Patient or population</strong>:&nbsp; patients in treatment for suspected late onset neonatal sepsis<strong><br />Settings</strong>:&nbsp; High income countries<strong><br />Intervention</strong>: Beta-lactam monotherapy (Timentin)<strong><br />Comparison</strong>: Bata-lactam + Aminoglycoside combination therapy (Flucloxacilin + Gentamicin)</td>
		</tr>
		<tr>
			<td class="titles blue" >Outcomes</td>
			<td class="titles grey">Impact</td>
			<td class="titles blue grade">Certainty of the evidence<br /> (GRADE)</td>
			<td class="titles blue grade">Comments</td>

		</tr>
		<tr>
			<td>Mortality prior to <br />discharge</td>
			<td class="grey">182 per 1000<br /></td>
			<td>24<br />(1)</td>
			<td> &nbsp; </td>
		</tr>
		<tr>
			<td>Treatment failure</td>
			<td class="grey">182 per 1000</td>
			<td>24<br />(1)</td>
			<td> &nbsp; </td>
		</tr>
		<tr>
			<td colspan="5">GRADE: GRADE Working Group grades of evidence (see explanations)</td>
		</tr>
	</tbody>
</table>
<hr />
<p>&nbsp;</p>
