<table border="0">
<tbody>
<tr>
<td colspan="7">
<h3>Beta-lactam antibiotics compared to Bata-lactam + Aminoglycoside for the treatment of suspected late onset sepsis in new born infants</h3>
</td>
</tr>
<tr>
<td colspan="7"><strong>Patient or population</strong>:&nbsp; patients in treatment for suspected late onset neonatal sepsis<strong><br />Settings</strong>:&nbsp; High income countries<strong><br />Intervention</strong>: Beta-lactam monotherapy (Timentin)<strong><br />Comparison</strong>: Bata-lactam + Aminoglycoside combination therapy (Flucloxacilin + Gentamicin)</td>
</tr>
<tr>
<td class="titles blue" rowspan="3">Outcomes</td>
<td class="titles grey" colspan="2">Illustrative comparative risks</td>
<td class="titles blue" rowspan="3">Relative effect<br /> (95% CI)</td>
<td class="titles blue" rowspan="3">No of Participants<br /> (studies)</td>
<td class="titles blue grade" rowspan="3">Quality of the evidence<br /> (GRADE)</td>
<td class="titles blue" rowspan="3">Comments</td>
</tr>
<tr>
<td class="titles grey" valign="top">Assumed risk</td>
<td class="titles grey" valign="top">Corresponding risk</td>
</tr>
<tr>
<td class="titles grey"><strong>Bata-lactam + Aminoglycoside</strong></td>
<td class="titles grey"><strong>Beta-lactam</strong></td>
</tr>
<tr>
<td>Mortality prior to <br />discharge</td>
<td class="grey">182 per 1000<br /></td>
<td class="grey">31 per 1000<br />(2 to 588)</td>
<td>
<p>RR 0.17<br />(0.01 to 3.23)</p>
</td>
<td>24<br />(1)</td>
<td>very low1,2</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Treatment failure</td>
<td class="grey">182 per 1000</td>
<td class="grey">31 per 1000 (2 to 588)</td>
<td>RR 0.17<br />(0.01 to 3.23)</td>
<td>24<br />(1)</td>
<td>very low1,2</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="7">CI: Confidence interval; RR: Risk ratio GRADE: GRADE Working Group grades of evidence (see explanations)</td>
</tr>
<tr>
<td colspan="7">1 No information on method of randomization is provided. Allocation concealment is unclear. Blinding is not documented for the intervention or outcome. <br />2 Estimate from only one study with few events. Very wide confidence interval consistent with either important harms or important benefits from the therapy</td>
</tr>
</tbody>
</table>
<hr />
<p>&nbsp;</p>
